<div class="grid grid-rows-3 h-full min-h-screen" data-controller="dashboard_content" style="grid-template-columns: 250px 1fr 1fr;">
  <!-- Sidebar (first column) -->
  <div class="col-span-1 bg-white row-span-3 h-full flex flex-col">
    <div class="flex flex-col items-center mt-10 ">
      <%= image_tag('logo.svg', class: "w-auto h-auto shrink-0 ms-4") %>
      <div class="ml-4">
        <p class="mt-2 font-nunito text-[13px] text-center font-bold text-accent-blue">UiUxOtor</p>
        <p class="font-nunito text-[13px] font-normal text-text-black">ERP System</p>
      </div>
    </div>

    <div class=" ms-1 mt-12 ">
      <button id="overview" data-action="click->dashboard_content#loadContent"
              class="nav-link w-[250px] h-[50px] flex justify-start items-center bg-white-gray text-accent-blue border-l-4 border-light-blue">
        <span>
          <svg class="nav-icon ms-4 text-accent-blue" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="Dashboard">
                  <path id="Vector" d="M12 6.50005V9.50005C11.999 10.1627 11.7352 10.7979 11.2666 11.2665C10.798 11.7352 10.1628 11.9989 9.50011 12H6.50011C5.8373 11.9989 5.20209 11.7352 4.73347 11.2665C4.26486 10.7979 4.00117 10.1627 4.00007 9.50005V6.50005C4.00114 5.83723 4.26485 5.20202 4.73347 4.73341C5.2021 4.26479 5.8373 4.0011 6.50011 4H9.50011C10.1628 4.00107 10.798 4.26478 11.2666 4.73341C11.7352 5.20202 11.9989 5.83723 12 6.50005ZM18.3 4H15.3C14.6373 4.00107 14.0021 4.26478 13.5335 4.73341C13.0649 5.20202 12.8012 5.83723 12.8001 6.50005V9.50005C12.8012 10.1627 13.0649 10.7979 13.5335 11.2665C14.0021 11.7352 14.6373 11.9989 15.3 12H18.3C18.9628 11.9989 19.598 11.7352 20.0667 11.2665C20.5353 10.7979 20.799 10.1627 20.8001 9.50005V6.50005C20.799 5.83723 20.5353 5.20202 20.0667 4.73341C19.598 4.26479 18.9628 4.0011 18.3 4ZM9.49991 12.8001H6.50005C5.83723 12.8012 5.20202 13.0649 4.73341 13.5335C4.26479 14.0021 4.0011 14.6373 4 15.3V18.3C4.00107 18.9628 4.26478 19.598 4.73341 20.0667C5.20203 20.5353 5.83723 20.799 6.50005 20.8001H9.50005C10.1627 20.799 10.7979 20.5353 11.2665 20.0667C11.7352 19.598 11.9989 18.9628 12 18.3V15.3C11.9989 14.6373 11.7352 14.0021 11.2665 13.5335C10.7979 13.0649 10.1627 12.8012 9.50005 12.8001H9.49991ZM18.3 12.8001H15.3C14.6373 12.8012 14.0021 13.0649 13.5335 13.5335C13.0649 14.0021 12.8012 14.6373 12.8001 15.3V18.3C12.8012 18.9628 13.0649 19.598 13.5335 20.0667C14.0021 20.5353 14.6373 20.799 15.3 20.8001H18.3C18.9628 20.799 19.598 20.5353 20.0667 20.0667C20.5353 19.598 20.799 18.9628 20.8001 18.3V15.3C20.799 14.6373 20.5353 14.0021 20.0667 13.5335C19.598 13.0649 18.9628 12.8012 18.3 12.8001Z" fill="currentColor"/>
              </g>
          </svg>
        </span>
        <span class="ms-2">Overview</span>
      </button>
      <button id="staff" data-action="click->dashboard_content#loadContent" class="nav-link w-[250px] h-[50px] flex justify-start items-center">
        <span>
          <svg class="nav-icon ms-4 text-text-black" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Staff">
              <path id="Vector" d="M21.9007 16.3792V18.0592H3V16.2813C2.99907 15.9058 3.16594 15.5495 3.45508 15.3098C4.47494 14.4868 5.57195 13.7642 6.73056 13.1518C6.80543 13.3266 7.5312 14.9951 7.99392 15.6997V15.6996C8.00035 15.7128 8.01375 15.7212 8.02848 15.7212C8.04321 15.7212 8.0566 15.7128 8.06303 15.6996C8.15705 15.4174 8.51999 14.4381 9.07096 14.5053H9.0711C9.08837 14.5105 9.10686 14.5022 9.11449 14.4859C9.12212 14.4697 9.11676 14.4501 9.10176 14.4401C8.68512 14.1079 7.62909 13.2535 7.22784 12.7774V11.6273C7.04918 11.3236 6.92744 10.9898 6.86877 10.6423C6.73056 10.6308 6.55002 10.4387 6.35421 9.74953C6.10269 8.86252 6.33881 8.68588 6.56729 8.68773C6.44635 8.1693 6.13913 6.36837 7.47936 5.55045C7.31824 5.41438 7.22489 5.21429 7.22396 5.00336C7.22396 5.00336 8.75999 5.17613 9.49151 5.02452C10.223 4.87278 11.0275 5.45268 11.1523 6.01143C11.1523 6.01143 12.6518 6.01143 12.0702 8.68987C12.3044 8.68022 12.5598 8.84161 12.3005 9.75166C12.1085 10.441 11.9166 10.6349 11.786 10.6444V10.6443C11.7276 10.9918 11.6058 11.3256 11.4269 11.6292V12.7698C11.0236 13.2459 9.96962 14.1022 9.55109 14.4325C9.53609 14.4425 9.5306 14.462 9.53837 14.4783C9.546 14.4946 9.56449 14.5029 9.58176 14.4977C10.1327 14.4305 10.4957 15.4078 10.5897 15.6919C10.5961 15.7052 10.6096 15.7136 10.6242 15.7136C10.639 15.7136 10.6525 15.7052 10.6589 15.6919C11.1217 14.9873 11.8474 13.3189 11.9223 13.1441C12.702 13.5594 13.4555 14.0223 14.1782 14.5304C14.4217 14.4493 14.659 14.3512 14.8887 14.2366L14.9309 14.2117C15.0507 14.1341 15.1229 14.0011 15.1229 13.8584V13.1422C13.2279 13.1595 12.6692 12.3473 12.6692 12.3473C12.6692 12.3473 13.7522 12.3301 13.685 9.46735C13.6176 6.60463 14.9251 6.14191 15.4167 5.96335C16.847 5.41999 17.5651 6.28397 17.5651 6.28397C19.224 6.13036 19.6772 7.94282 19.4851 10.005C19.2931 12.0671 20.4145 12.3896 20.4145 12.3896C19.6369 13.1845 17.9953 13.1345 17.9953 13.1345V13.8738H17.9952C17.9952 14.0166 18.0673 14.1496 18.1872 14.2271L18.2372 14.2578C18.8132 14.5593 19.9959 14.8723 20.019 14.8838C20.406 14.9888 20.7822 15.1309 21.1421 15.3081C21.564 15.5091 21.8511 15.9147 21.9005 16.3794L21.9007 16.3792Z" fill="currentColor"/>
            </g>
          </svg>
        </span>
        <span class="ms-2">Staff</span>
      </button>
      <button id="payment" data-action="click->dashboard_content#loadContent" class="nav-link w-[250px] h-[50px] flex justify-start items-center">
        <span>
         <svg class="nav-icon ms-4 text-text-black" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="Payroll">
            <path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M19.0188 16.5878L19.0194 3.86061L10.4449 3.89865V5.0454H17.8343V16.5879L19.0188 16.5878ZM16.9735 18.6332L16.9741 5.90593L8.39961 5.94397V7.09073H15.789V18.6332L16.9735 18.6332ZM14.1512 13.8734C14.1512 11.7986 12.4693 10.1167 10.3946 10.1167C8.31981 10.1167 6.63795 11.7987 6.63795 13.8734C6.63795 15.9478 8.3197 17.63 10.3946 17.63C12.4692 17.63 14.1512 15.948 14.1512 13.8734ZM19.88 3V17.4863H17.8347V19.5316H15.7894V20.1006L14.3696 21.5202L13.3711 20.5219L12.3585 21.5178L11.3711 20.5304L10.3669 21.5178L9.37962 20.5304L8.37526 21.5178L7.38196 20.5244L6.3862 21.5203L5 20.1344V7.09076H7.50106V5.04543H9.54653V3.00011L19.88 3ZM11.6796 14.1133C11.9611 14.6593 11.8458 15.4708 11.3296 15.8592C11.1682 15.9807 10.9739 16.057 10.7714 16.0974L10.839 16.6203H9.9258L9.99542 16.0816C9.80207 16.0335 9.62035 15.9501 9.46906 15.8263C9.17925 15.5898 9.02909 15.2364 8.96048 14.8761L9.65566 14.7192C9.71566 15.0921 9.9927 15.3868 10.4034 15.3868C10.6349 15.3868 10.8093 15.328 10.9267 15.2103C11.0767 15.06 11.1554 14.8328 11.0744 14.6335C10.9682 14.3724 10.6441 14.2966 10.3919 14.2219C10.1071 14.1376 9.81112 14.0625 9.56653 13.8936C8.83703 13.3903 8.88815 12.1732 9.73289 11.8049C9.81916 11.7671 9.91017 11.7419 10.0028 11.7224L9.92581 11.1264H10.839L10.7608 11.7325C10.9127 11.7677 11.0592 11.8215 11.1891 11.9036C11.4637 12.0773 11.6125 12.3548 11.6778 12.6518L10.9486 12.7962C10.9134 12.6927 10.8577 12.5962 10.771 12.5265C10.6697 12.4454 10.535 12.408 10.4024 12.4039C10.1651 12.3961 9.85504 12.4577 9.7645 12.6968C9.7144 12.829 9.74828 12.9828 9.84933 13.0849C9.9402 13.1764 10.1604 13.2716 10.5102 13.3708C10.8599 13.47 11.1187 13.5727 11.2863 13.6787C11.4538 13.7848 11.5849 13.9296 11.6796 14.1133Z" fill="currentColor"/>
          </g>
        </svg>
        </span>
        <span class="ms-2">Payment</span>
      </button>

    </div>
  </div>


  <!-- Main content (second and third columns) -->
  <div class="col-span-2 row-span-3 p-4 h-full bg-gray-800">
    <%= turbo_frame_tag "main_content" do %>
      <%= render partial: "dashboard/overview" %>
    <% end %>
  </div>
</div>




<%#= link_to 'Logout', destroy_user_session_path, method: :delete, data: { turbo_method: :delete, confirm: 'Are you sure?' } %>
