<div class="grid grid-rows-3 h-full min-h-screen" data-controller="dashboard_content" style="grid-template-columns: 250px 1fr 1fr;">
  <!-- Sidebar (first column) -->
  <div class="col-span-1 bg-white row-span-3 h-full flex flex-col">
    <div class="flex flex-col items-center mt-10 ">
      <%= image_tag('logo.svg', class: "w-auto h-auto shrink-0 ms-4") %>
      <div class="ml-4">
        <p class="mt-2 font-nunito text-[13px] text-center font-bold text-accent-blue">UiUxOtor</p>
        <p class="font-nunito text-[13px] font-normal text-text-black">ERP System</p>
      </div>
    </div>

    <div class=" ms-1 mt-12 ">
      <button id="overview" data-action="click->dashboard_content#loadContent"
              class="nav-link w-[250px] h-[50px] flex justify-start items-center bg-white-gray text-accent-blue border-l-4 border-light-blue">
        <span>
          <svg class="nav-icon ms-4 text-accent-blue" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="Dashboard">
                  <path id="Vector" d="M12 6.50005V9.50005C11.999 10.1627 11.7352 10.7979 11.2666 11.2665C10.798 11.7352 10.1628 11.9989 9.50011 12H6.50011C5.8373 11.9989 5.20209 11.7352 4.73347 11.2665C4.26486 10.7979 4.00117 10.1627 4.00007 9.50005V6.50005C4.00114 5.83723 4.26485 5.20202 4.73347 4.73341C5.2021 4.26479 5.8373 4.0011 6.50011 4H9.50011C10.1628 4.00107 10.798 4.26478 11.2666 4.73341C11.7352 5.20202 11.9989 5.83723 12 6.50005ZM18.3 4H15.3C14.6373 4.00107 14.0021 4.26478 13.5335 4.73341C13.0649 5.20202 12.8012 5.83723 12.8001 6.50005V9.50005C12.8012 10.1627 13.0649 10.7979 13.5335 11.2665C14.0021 11.7352 14.6373 11.9989 15.3 12H18.3C18.9628 11.9989 19.598 11.7352 20.0667 11.2665C20.5353 10.7979 20.799 10.1627 20.8001 9.50005V6.50005C20.799 5.83723 20.5353 5.20202 20.0667 4.73341C19.598 4.26479 18.9628 4.0011 18.3 4ZM9.49991 12.8001H6.50005C5.83723 12.8012 5.20202 13.0649 4.73341 13.5335C4.26479 14.0021 4.0011 14.6373 4 15.3V18.3C4.00107 18.9628 4.26478 19.598 4.73341 20.0667C5.20203 20.5353 5.83723 20.799 6.50005 20.8001H9.50005C10.1627 20.799 10.7979 20.5353 11.2665 20.0667C11.7352 19.598 11.9989 18.9628 12 18.3V15.3C11.9989 14.6373 11.7352 14.0021 11.2665 13.5335C10.7979 13.0649 10.1627 12.8012 9.50005 12.8001H9.49991ZM18.3 12.8001H15.3C14.6373 12.8012 14.0021 13.0649 13.5335 13.5335C13.0649 14.0021 12.8012 14.6373 12.8001 15.3V18.3C12.8012 18.9628 13.0649 19.598 13.5335 20.0667C14.0021 20.5353 14.6373 20.799 15.3 20.8001H18.3C18.9628 20.799 19.598 20.5353 20.0667 20.0667C20.5353 19.598 20.799 18.9628 20.8001 18.3V15.3C20.799 14.6373 20.5353 14.0021 20.0667 13.5335C19.598 13.0649 18.9628 12.8012 18.3 12.8001Z" fill="currentColor"/>
              </g>
          </svg>
        </span>
        <span class="ms-2">Overview</span>
      </button>
      <button id="staff" data-action="click->dashboard_content#loadContent" class="nav-link w-[250px] h-[50px] flex justify-start items-center">
        <span>
          <svg class="nav-icon ms-4 text-text-black" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Staff">
              <path id="Vector" d="M21.9007 16.3792V18.0592H3V16.2813C2.99907 15.9058 3.16594 15.5495 3.45508 15.3098C4.47494 14.4868 5.57195 13.7642 6.73056 13.1518C6.80543 13.3266 7.5312 14.9951 7.99392 15.6997V15.6996C8.00035 15.7128 8.01375 15.7212 8.02848 15.7212C8.04321 15.7212 8.0566 15.7128 8.06303 15.6996C8.15705 15.4174 8.51999 14.4381 9.07096 14.5053H9.0711C9.08837 14.5105 9.10686 14.5022 9.11449 14.4859C9.12212 14.4697 9.11676 14.4501 9.10176 14.4401C8.68512 14.1079 7.62909 13.2535 7.22784 12.7774V11.6273C7.04918 11.3236 6.92744 10.9898 6.86877 10.6423C6.73056 10.6308 6.55002 10.4387 6.35421 9.74953C6.10269 8.86252 6.33881 8.68588 6.56729 8.68773C6.44635 8.1693 6.13913 6.36837 7.47936 5.55045C7.31824 5.41438 7.22489 5.21429 7.22396 5.00336C7.22396 5.00336 8.75999 5.17613 9.49151 5.02452C10.223 4.87278 11.0275 5.45268 11.1523 6.01143C11.1523 6.01143 12.6518 6.01143 12.0702 8.68987C12.3044 8.68022 12.5598 8.84161 12.3005 9.75166C12.1085 10.441 11.9166 10.6349 11.786 10.6444V10.6443C11.7276 10.9918 11.6058 11.3256 11.4269 11.6292V12.7698C11.0236 13.2459 9.96962 14.1022 9.55109 14.4325C9.53609 14.4425 9.5306 14.462 9.53837 14.4783C9.546 14.4946 9.56449 14.5029 9.58176 14.4977C10.1327 14.4305 10.4957 15.4078 10.5897 15.6919C10.5961 15.7052 10.6096 15.7136 10.6242 15.7136C10.639 15.7136 10.6525 15.7052 10.6589 15.6919C11.1217 14.9873 11.8474 13.3189 11.9223 13.1441C12.702 13.5594 13.4555 14.0223 14.1782 14.5304C14.4217 14.4493 14.659 14.3512 14.8887 14.2366L14.9309 14.2117C15.0507 14.1341 15.1229 14.0011 15.1229 13.8584V13.1422C13.2279 13.1595 12.6692 12.3473 12.6692 12.3473C12.6692 12.3473 13.7522 12.3301 13.685 9.46735C13.6176 6.60463 14.9251 6.14191 15.4167 5.96335C16.847 5.41999 17.5651 6.28397 17.5651 6.28397C19.224 6.13036 19.6772 7.94282 19.4851 10.005C19.2931 12.0671 20.4145 12.3896 20.4145 12.3896C19.6369 13.1845 17.9953 13.1345 17.9953 13.1345V13.8738H17.9952C17.9952 14.0166 18.0673 14.1496 18.1872 14.2271L18.2372 14.2578C18.8132 14.5593 19.9959 14.8723 20.019 14.8838C20.406 14.9888 20.7822 15.1309 21.1421 15.3081C21.564 15.5091 21.8511 15.9147 21.9005 16.3794L21.9007 16.3792Z" fill="currentColor"/>
            </g>
          </svg>
        </span>
        <span class="ms-2">Staff</span>
      </button>
      <button id="stock" data-action="click->dashboard_content#loadContent" class="nav-link w-[250px] h-[50px] flex justify-start items-center">
        <span>
          <svg class="nav-icon ms-4 text-text-black" width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Group 8">
            <path id="Vector" d="M0 4.8768H4.8768L4.87693 0H0.000133929L0 4.8768ZM1.53603 1.53607H3.34087V3.3409H1.53603V1.53607Z" fill="#272525"/>
            <path id="Vector_2" d="M6.73926 0H15.9937V1.53603H6.73926V0Z" fill="#272525"/>
            <path id="Vector_3" d="M6.73926 3.34082H14.1313V4.87685H6.73926V3.34082Z" fill="#272525"/>
            <path id="Vector_4" d="M0 11.5584H4.8768L4.87693 6.68164H0.000133929L0 11.5584ZM1.53603 8.21761H3.34087V10.0224H1.53603V8.21761Z" fill="#272525"/>
            <path id="Vector_5" d="M6.73926 6.68164H15.9937V8.21767H6.73926V6.68164Z" fill="#272525"/>
            <path id="Vector_6" d="M6.73926 10.0225H14.1313V11.5585H6.73926V10.0225Z" fill="#272525"/>
            <path id="Vector_7" d="M0 18.2401H4.8768L4.87693 13.3633H0.000133929L0 18.2401ZM1.53603 14.8992H3.34087V16.7041H1.53603V14.8992Z" fill="#272525"/>
            <path id="Vector_8" d="M6.73926 13.3633H15.9937V14.8993H6.73926V13.3633Z" fill="#272525"/>
            <path id="Vector_9" d="M6.73926 16.7041H14.1313V18.2401H6.73926V16.7041Z" fill="#272525"/>
            </g>
          </svg>
        </span>
        <span class="ms-2">Stock</span>
      </button>
      <button id="procurement" data-action="click->dashboard_content#loadContent" class="nav-link w-[250px] h-[50px] flex justify-start items-center">
        <span>
          <svg class="nav-icon ms-4 text-text-black" width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Group 5">
            <path id="Vector" d="M12.1472 8.75301L11.5003 4.18247C11.4357 3.62198 10.9614 3.21235 10.4009 3.21235H9.73257C9.68941 1.42294 8.22347 0 6.43403 0C4.64458 0 3.17863 1.42294 3.13548 3.21235L2.44551 3.2122C1.88501 3.2122 1.41071 3.62186 1.34603 4.18232L0.00939986 13.6037C-0.0767713 14.272 0.440544 14.8756 1.10888 14.8756H6.45555C6.64969 11.7279 9.06428 9.16245 12.1472 8.75282V8.75301ZM6.41243 1.35823C7.46886 1.35823 8.30967 2.19903 8.37435 3.23383L4.47214 3.23398C4.5153 2.19903 5.37763 1.35822 6.41254 1.35822L6.41243 1.35823ZM6.41243 8.86081C4.73081 8.86081 3.37255 7.50254 3.37255 5.82093C3.37255 5.45444 3.67437 5.15264 4.04084 5.15264C4.40733 5.15264 4.70914 5.45446 4.70914 5.82093C4.70914 6.76957 5.46379 7.52403 6.41223 7.52403C7.3392 7.52403 8.11533 6.76938 8.11533 5.82093C8.11533 5.45444 8.41715 5.15264 8.78363 5.15264C9.15011 5.15264 9.45192 5.45446 9.45192 5.82093C9.45207 7.52403 8.09396 8.86081 6.41235 8.86081H6.41243Z" fill="#272525"/>
            <path id="Vector_2" d="M13.0309 10.0254C10.142 10.0254 7.79199 12.3753 7.79199 15.2643C7.79199 18.1532 10.1419 20.5031 13.0309 20.5031C15.9198 20.5031 18.2697 18.1532 18.2697 15.2643C18.2699 12.3754 15.9198 10.0254 13.0309 10.0254ZM15.3808 14.4881L13.0309 16.9674C12.9015 17.0967 12.729 17.183 12.5566 17.183C12.3841 17.183 12.1901 17.1183 12.0823 16.9674L10.681 15.4797C10.4007 15.2211 10.4223 14.7899 10.681 14.5528C10.9397 14.2941 11.371 14.3156 11.6296 14.5743L12.5566 15.5444L14.4322 13.561C14.6909 13.3023 15.1005 13.2806 15.3809 13.5395C15.6397 13.7981 15.6397 14.2077 15.3809 14.4881L15.3808 14.4881Z" fill="#272525"/>
            </g>
          </svg>
        </span>
        <span class="ms-2">Procurement</span>
      </button>

    </div>
  </div>


  <!-- Main content (second and third columns) -->
  <div class="col-span-2 row-span-3 p-4 h-full bg-bg-gray">
    <%= turbo_frame_tag "main_content" do %>
      <%= render partial: "dashboard/overview" %>
    <% end %>
  </div>
</div>




<%#= link_to 'Logout', destroy_user_session_path, method: :delete, data: { turbo_method: :delete, confirm: 'Are you sure?' } %>
