<div class="flex justify-between items-center">
  <div class="flex flex-col">
    <div class="flex flex-row items-center">
      <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="Group 9">
          <path id="Vector" d="M9.8998 6.5998C9.8998 6.43414 9.76547 6.2998 9.5998 6.2998C9.43414 6.2998 9.2998 6.43414 9.2998 6.5998V6.8998H9.8998V6.5998Z" fill="url(#paint0_linear_2037_3943)"/>
          <path id="Vector_2" d="M14.3998 7.5H10.4998V9C10.4998 9.32156 10.3282 9.61862 10.0498 9.77945C9.77137 9.94017 9.42824 9.94017 9.1498 9.77945C8.87137 9.6186 8.6998 9.32157 8.6998 9V8.4C8.6998 8.23433 8.83414 8.1 8.9998 8.1C9.16547 8.1 9.2998 8.23433 9.2998 8.4V9C9.2998 9.16567 9.43414 9.3 9.5998 9.3C9.76547 9.3 9.8998 9.16567 9.8998 9V7.5H7.7998V16.2H16.1998V7.5H14.3998ZM8.3998 12.9C8.3998 12.7343 8.53414 12.6 8.6998 12.6H13.1998C13.3655 12.6 13.4998 12.7343 13.4998 12.9C13.4998 13.0657 13.3655 13.2 13.1998 13.2H8.6998C8.53414 13.2 8.3998 13.0657 8.3998 12.9ZM11.6998 15H8.6998C8.53414 15 8.3998 14.8657 8.3998 14.7C8.3998 14.5343 8.53414 14.4 8.6998 14.4H11.6998C11.8655 14.4 11.9998 14.5343 11.9998 14.7C11.9998 14.8657 11.8655 15 11.6998 15ZM15.2998 13.2H14.3998C14.2341 13.2 14.0998 13.0657 14.0998 12.9C14.0998 12.7343 14.2341 12.6 14.3998 12.6H15.2998C15.4655 12.6 15.5998 12.7343 15.5998 12.9C15.5998 13.0657 15.4655 13.2 15.2998 13.2ZM15.2998 11.4H8.6998C8.53414 11.4 8.3998 11.2657 8.3998 11.1C8.3998 10.9343 8.53414 10.8 8.6998 10.8H15.2998C15.4655 10.8 15.5998 10.9343 15.5998 11.1C15.5998 11.2657 15.4655 11.4 15.2998 11.4ZM15.2998 9.6H11.3998C11.2341 9.6 11.0998 9.46567 11.0998 9.3C11.0998 9.13433 11.2341 9 11.3998 9H15.2998C15.4655 9 15.5998 9.13433 15.5998 9.3C15.5998 9.46567 15.4655 9.6 15.2998 9.6Z" fill="url(#paint1_linear_2037_3943)"/>
          <path id="Vector_3" d="M14.1 0.6H12V0.3C12 0.134331 11.8657 0 11.7 0C11.5343 0 11.4 0.134331 11.4 0.3V0.6H9V0.3C9 0.134331 8.86567 0 8.7 0C8.53433 0 8.4 0.134331 8.4 0.3V0.6H6V0.3C6 0.134331 5.86567 0 5.7 0C5.53433 0 5.4 0.134331 5.4 0.3V0.6H3V0.3C3 0.134331 2.86567 0 2.7 0C2.53433 0 2.4 0.134331 2.4 0.3V0.6H0.3C0.134331 0.6 0 0.734331 0 0.9V13.8C0 13.8796 0.0316073 13.9559 0.0878571 14.0121C0.144107 14.0684 0.220447 14.1 0.3 14.1H7.2V7.2C7.2 7.03433 7.33433 6.9 7.5 6.9H8.7V6.6C8.7 6.27844 8.87156 5.98138 9.15 5.82055C9.42844 5.65983 9.77157 5.65983 10.05 5.82055C10.3284 5.9814 10.5 6.27843 10.5 6.6V6.9H14.4V0.9C14.4 0.820447 14.3684 0.744106 14.3121 0.687857C14.2559 0.631608 14.1796 0.6 14.1 0.6ZM3.3 10.2H2.1C1.93433 10.2 1.8 10.0657 1.8 9.9C1.8 9.73433 1.93433 9.6 2.1 9.6H3.3C3.46567 9.6 3.6 9.73433 3.6 9.9C3.6 10.0657 3.46567 10.2 3.3 10.2ZM3.3 8.4H2.1C1.93433 8.4 1.8 8.26567 1.8 8.1C1.8 7.93433 1.93433 7.8 2.1 7.8H3.3C3.46567 7.8 3.6 7.93433 3.6 8.1C3.6 8.26567 3.46567 8.4 3.3 8.4ZM3.3 6.6H2.1C1.93433 6.6 1.8 6.46567 1.8 6.3C1.8 6.13433 1.93433 6 2.1 6H3.3C3.46567 6 3.6 6.13433 3.6 6.3C3.6 6.46567 3.46567 6.6 3.3 6.6ZM3.3 4.8H2.1C1.93433 4.8 1.8 4.66567 1.8 4.5C1.8 4.33433 1.93433 4.2 2.1 4.2H3.3C3.46567 4.2 3.6 4.33433 3.6 4.5C3.6 4.66567 3.46567 4.8 3.3 4.8ZM6.3 10.2H5.1C4.93433 10.2 4.8 10.0657 4.8 9.9C4.8 9.73433 4.93433 9.6 5.1 9.6H6.3C6.46567 9.6 6.6 9.73433 6.6 9.9C6.6 10.0657 6.46567 10.2 6.3 10.2ZM6.3 8.4H5.1C4.93433 8.4 4.8 8.26567 4.8 8.1C4.8 7.93433 4.93433 7.8 5.1 7.8H6.3C6.46567 7.8 6.6 7.93433 6.6 8.1C6.6 8.26567 6.46567 8.4 6.3 8.4ZM6.3 6.6H5.1C4.93433 6.6 4.8 6.46567 4.8 6.3C4.8 6.13433 4.93433 6 5.1 6H6.3C6.46567 6 6.6 6.13433 6.6 6.3C6.6 6.46567 6.46567 6.6 6.3 6.6ZM6.3 4.8H5.1C4.93433 4.8 4.8 4.66567 4.8 4.5C4.8 4.33433 4.93433 4.2 5.1 4.2H6.3C6.46567 4.2 6.6 4.33433 6.6 4.5C6.6 4.66567 6.46567 4.8 6.3 4.8ZM9.3 4.8H8.1C7.93433 4.8 7.8 4.66567 7.8 4.5C7.8 4.33433 7.93433 4.2 8.1 4.2H9.3C9.46567 4.2 9.6 4.33433 9.6 4.5C9.6 4.66567 9.46567 4.8 9.3 4.8ZM12.3 4.8H11.1C10.9343 4.8 10.8 4.66567 10.8 4.5C10.8 4.33433 10.9343 4.2 11.1 4.2H12.3C12.4657 4.2 12.6 4.33433 12.6 4.5C12.6 4.66567 12.4657 4.8 12.3 4.8ZM13.8 2.4H0.6V1.2H2.4V1.5C2.4 1.66567 2.53433 1.8 2.7 1.8C2.86567 1.8 3 1.66567 3 1.5V1.2H5.4V1.5C5.4 1.66567 5.53433 1.8 5.7 1.8C5.86567 1.8 6 1.66567 6 1.5V1.2H8.4V1.5C8.4 1.66567 8.53433 1.8 8.7 1.8C8.86567 1.8 9 1.66567 9 1.5V1.2H11.4V1.5C11.4 1.66567 11.5343 1.8 11.7 1.8C11.8657 1.8 12 1.66567 12 1.5V1.2H13.8V2.4Z" fill="url(#paint2_linear_2037_3943)"/>
        </g>
        <defs>
          <linearGradient id="paint0_linear_2037_3943" x1="9.2998" y1="6.2998" x2="9.8998" y2="6.8998" gradientUnits="userSpaceOnUse">
            <stop stop-color="#14ADD6"/>
            <stop offset="1" stop-color="#384295"/>
          </linearGradient>
          <linearGradient id="paint1_linear_2037_3943" x1="7.7998" y1="7.5" x2="16.4945" y2="15.8948" gradientUnits="userSpaceOnUse">
            <stop stop-color="#14ADD6"/>
            <stop offset="1" stop-color="#384295"/>
          </linearGradient>
          <linearGradient id="paint2_linear_2037_3943" x1="0" y1="0" x2="14.0969" y2="14.3968" gradientUnits="userSpaceOnUse">
            <stop stop-color="#14ADD6"/>
            <stop offset="1" stop-color="#384295"/>
          </linearGradient>
        </defs>
      </svg>
      <p class="font-nunito text-black text-xl font-extrabold ms-2">Memo</p>
    </div>
    <p class="font-nunito text-neutral-800 text-xs font-normal leading-tight text-text-gray mt-1">
      Create and send memos to designated offices.
    </p>
  </div>
  <div class="flex items-center">
    <%= render "dashboard/menu" %>
  </div>
</div>