<turbo-frame id="memo-list">

<div class="flex flex-col justify-center self-center items-center w-auto h-screen rounded-[20px] bg-white font-nunito">
  <h1>Nothing to Show Here!</h1>
  <h3>Todo: Implement This Page</h3>
  <%= link_to 'Back', staff_index_path, class:"text-accent-blue" %>
</div>
</turbo-frame>