<div>
  <div class="hidden md:block">
    <%= render "dashboard/menu" %>
  </div>

  <!--  Cards -->
  <div class="flex md:justify-around  justify-between mt-14">
    <div class="flex w-[200px] md:w-[271px] h-[120px] md:h-[150px] bg-white rounded-[20px]">
      <div class="flex flex-col justify-start items-start mt-4 ms-6">
        <p class="font-nunito text-[28px] font-extrabold text-text-black">25</p>
        <p class="font-nunito text-text-black text-base font-normal leading-normal">Total Projects</p>
        <div class=" hidden md:block">
          <div class="mt-6 flex justify-items-center justify-center">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="Small Arrow Up">
                <path id="shape" d="M12 7V17M12 7L16 11M12 7L8 11" stroke="#10A242" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </g>
            </svg>
            <p class="font-nunito text-field-gray text-xs font-normal leading-tight mt-1">12 more than last quarter</p>
          </div>
        </div>
      </div>
      <div class="hidden md:block">
        <div class="mt-4 ms-6 md:w-[50px]  h-[50px] bg-[#f9efff] rounded-full flex justify-center items-center">
        <svg class="" width="30" height="39" viewBox="0 0 30 39" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="Group 6">
            <path id="Vector" d="M21.3067 28.5903C21.4037 28.6344 21.5007 28.6498 21.5973 28.6498C21.8731 28.6498 22.1339 28.5007 22.2606 28.2399C23.7218 25.2954 24.0723 22.6859 23.3042 20.4793C22.6555 18.6232 21.3732 17.5712 20.6649 17.1172C20.2998 20.1143 19.3903 23.4243 17.9364 26.9804C17.914 27.0399 17.8842 27.0998 17.8545 27.1519L21.3067 28.5903Z" fill="#A601FF"/>
            <path id="Vector_2" d="M0.396029 20.4793C-0.37168 22.6859 -0.0216377 25.2953 1.43231 28.2399C1.56638 28.5007 1.82756 28.6498 2.10265 28.6498C2.2004 28.6498 2.29738 28.6339 2.39397 28.5903L5.84573 27.1514C5.81598 27.0993 5.78623 27.0398 5.76382 26.9799C4.30994 23.4084 3.39305 20.1064 3.02797 17.1094C2.31203 17.5796 1.04473 18.6297 0.396077 20.4792L0.396029 20.4793Z" fill="#A601FF"/>
            <path id="Vector_3" d="M16.8695 5.09347C14.8878 1.82904 12.4216 0.222547 12.2489 0.111274C12.0028 -0.0370912 11.6972 -0.0370912 11.451 0.111274C11.2787 0.222547 8.81064 1.82825 6.82739 5.09268C8.35783 5.91718 10.0748 6.36654 11.844 6.36654C13.6179 6.36692 15.3375 5.91757 16.8695 5.09347H16.8695Z" fill="#A601FF"/>
            <path id="Vector_4" d="M11.8501 16.05C12.8574 16.05 13.6765 15.2309 13.6765 14.2236C13.6765 13.2163 12.857 12.3965 11.8501 12.3965C10.8428 12.3965 10.0229 13.2167 10.0229 14.2236C10.0229 15.2309 10.8428 16.05 11.8501 16.05Z" fill="#A601FF"/>
            <path id="Vector_5" d="M4.33203 14.2166C4.33203 17.7429 5.27863 21.843 7.14246 26.4201C7.25335 26.696 7.52999 26.8822 7.82749 26.8822H15.8647C16.1696 26.8822 16.4462 26.696 16.5571 26.4201C18.4209 21.8428 19.361 17.7349 19.361 14.2166C19.361 11.0519 18.6014 8.46585 17.5845 6.40002C15.8346 7.34315 13.8688 7.85736 11.8434 7.85736C9.82161 7.85736 7.85884 7.34234 6.11051 6.39844C5.09243 8.46437 4.33211 11.0515 4.33211 14.2166H4.33203ZM11.8504 10.9051C13.6798 10.9051 15.1677 12.393 15.1677 14.2224C15.1677 16.0519 13.6798 17.5405 11.8504 17.5405C10.0209 17.5405 8.53224 16.0519 8.53224 14.2224C8.53224 12.3934 10.0209 10.9051 11.8504 10.9051Z" fill="#A601FF"/>
            <path id="Vector_6" d="M7.82807 28.3736C7.78325 28.3736 7.74616 28.3736 7.70134 28.3662C7.50739 29.0373 7.38066 29.8947 7.44789 30.9232C7.46296 31.1319 7.56727 31.3185 7.73109 31.4301C7.90264 31.5569 8.11129 31.5944 8.31258 31.5418L9.16993 31.3181C9.14752 32.8539 9.40097 35.7613 11.4588 37.1554C11.5782 37.2299 11.7123 37.2755 11.8463 37.2755C11.9881 37.2755 12.1222 37.2299 12.2339 37.1554C14.299 35.7613 14.5524 32.854 14.5301 31.3181L15.3874 31.5418C15.5887 31.594 15.7973 31.5569 15.9689 31.4301C16.1331 31.3185 16.2374 31.1319 16.2521 30.9232C16.3193 29.8944 16.1926 29.037 15.9986 28.3662C15.9538 28.3736 15.909 28.3736 15.8646 28.3736H7.82807Z" fill="#A601FF"/>
            <path id="Vector_7" d="M23.1062 12.7729C23.4699 13.1214 23.8941 13.379 24.3487 13.5457C24.8184 13.7123 25.273 13.8032 25.7123 13.8032C25.8185 13.8032 25.9245 13.7881 26.0306 13.7729C26.1367 13.7578 26.2427 13.7123 26.3488 13.6668C26.4397 13.6062 26.5155 13.5456 26.5761 13.4547C26.6366 13.3638 26.667 13.2577 26.667 13.1213C26.667 12.8789 26.5306 12.6971 26.2427 12.5607C25.9548 12.4244 25.6215 12.288 25.2275 12.1516C24.8791 12.0304 24.5305 11.894 24.1517 11.7577C23.788 11.6061 23.4546 11.4243 23.1365 11.1819C22.8335 10.9546 22.5759 10.6667 22.3789 10.3334C22.1819 10 22.0759 9.59091 22.0759 9.1061C22.0759 8.68185 22.1517 8.30305 22.288 7.96971C22.4244 7.63636 22.6214 7.34845 22.8638 7.12122C23.1063 6.87877 23.3487 6.69697 23.6669 6.54542C23.9851 6.39386 24.3487 6.28785 24.6517 6.21208L24.6516 5H26.4698V6.18185C26.9244 6.24242 27.3486 6.36365 27.7578 6.53032C28.1669 6.697 28.5457 6.93945 28.8942 7.25759L27.5608 9.01525C27.3032 8.80312 27.0002 8.62132 26.6668 8.50011C26.3335 8.37889 26.0154 8.31832 25.7122 8.31832C25.591 8.31832 25.4698 8.31832 25.3334 8.33343C25.1971 8.34854 25.0759 8.37888 24.9546 8.42432C24.8334 8.46977 24.7425 8.54555 24.6667 8.63645C24.5909 8.72734 24.5455 8.84857 24.5455 9.01525C24.5455 9.15159 24.5909 9.2577 24.6667 9.34859C24.7425 9.43948 24.8485 9.51527 25.0001 9.59105C25.1364 9.66683 25.3031 9.72739 25.4697 9.80317C25.6515 9.86373 25.8334 9.9244 26.0303 9.98496C26.3637 10.0911 26.7122 10.2274 27.091 10.3638C27.4546 10.5001 27.788 10.6971 28.1061 10.9244C28.4092 11.1516 28.6667 11.4395 28.8637 11.7881C29.0607 12.1365 29.1667 12.5608 29.1667 13.076C29.1667 13.47 29.091 13.8185 28.9395 14.1367C28.788 14.4549 28.591 14.7276 28.3486 14.9548C28.1061 15.182 27.8182 15.3791 27.4849 15.5457C27.1515 15.6973 26.7576 15.8184 26.4546 15.8942L26.4547 17.2732H24.6819V15.9398C24.2273 15.8792 23.6061 15.7428 23.0758 15.5306C22.5455 15.3185 22.091 15.0155 21.6667 14.6064L23.1062 12.7729Z" fill="#A601FF"/>
            <path id="Vector_8" d="M2.46645 35.9853C2.66849 36.1789 2.90419 36.322 3.15673 36.4146C3.41767 36.5072 3.67022 36.5577 3.9143 36.5577C3.97326 36.5577 4.03215 36.5493 4.09111 36.5408C4.15006 36.5324 4.20895 36.5072 4.26791 36.4819C4.31841 36.4482 4.36051 36.4145 4.39415 36.364C4.4278 36.3135 4.44465 36.2546 4.44465 36.1788C4.44465 36.0441 4.3689 35.9431 4.20895 35.8674C4.049 35.7917 3.86381 35.7159 3.64496 35.6401C3.45137 35.5728 3.25771 35.497 3.04727 35.4213C2.84523 35.3371 2.66002 35.2361 2.48328 35.1014C2.31494 34.9751 2.17184 34.8152 2.06239 34.63C1.95294 34.4448 1.89405 34.2175 1.89405 33.9482C1.89405 33.7125 1.93615 33.502 2.0119 33.3168C2.08764 33.1316 2.19709 32.9717 2.33179 32.8454C2.46649 32.7108 2.60119 32.6098 2.77793 32.5256C2.95473 32.4414 3.15671 32.3825 3.32505 32.3404L3.325 31.667H4.33511V32.3236C4.58766 32.3572 4.82334 32.4246 5.05065 32.5172C5.27795 32.6098 5.48839 32.7445 5.68198 32.9212L4.94121 33.8977C4.79811 33.7798 4.62976 33.6788 4.44457 33.6115C4.25938 33.5442 4.08264 33.5105 3.91424 33.5105C3.84689 33.5105 3.77954 33.5105 3.70379 33.5189C3.62805 33.5273 3.5607 33.5441 3.49335 33.5694C3.426 33.5946 3.3755 33.6367 3.3334 33.6872C3.2913 33.7377 3.26605 33.8051 3.26605 33.8977C3.26605 33.9734 3.2913 34.0324 3.3334 34.0829C3.3755 34.1334 3.43439 34.1755 3.51859 34.2176C3.59434 34.2597 3.68693 34.2933 3.77952 34.3354C3.88052 34.3691 3.98157 34.4028 4.09097 34.4364C4.27616 34.4954 4.46975 34.5711 4.6802 34.6469C4.88224 34.7226 5.06744 34.832 5.24419 34.9583C5.41253 35.0845 5.55563 35.2445 5.66507 35.4381C5.77452 35.6317 5.83341 35.8674 5.83341 36.1537C5.83341 36.3725 5.79131 36.5662 5.70717 36.7429C5.62297 36.9197 5.51358 37.0712 5.37888 37.1974C5.24418 37.3237 5.08423 37.4331 4.89904 37.5257C4.71385 37.6099 4.495 37.6772 4.32666 37.7193L4.32672 38.4854H3.34184V37.7446C3.08929 37.711 2.74415 37.6352 2.44957 37.5173C2.15492 37.3995 1.90245 37.2312 1.66675 37.0039L2.46645 35.9853Z" fill="#A601FF"/>
          </g>
        </svg>

      </div>
      </div>
    </div>

    <div class="flex w-[200px] md:w-[271px] h-[120px] md:h-[150px] bg-white rounded-[20px]">
      <div class="flex flex-col justify-start items-start mt-4 ms-6">
        <p class="font-nunito text-[28px] font-extrabold text-text-black">10</p>
        <p class="font-nunito text-text-black text-base font-normal leading-normal">Total Departments</p>
      </div>
      <div class="hidden md:block">
        <div class="mt-4 ms-6 w-[50px] h-[50px] bg-[#e7f5ff] rounded-full flex justify-center items-center">
        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="Group 7">
            <path id="Vector" d="M6.2714 20.778V18.9963C6.2714 18.5297 6.64894 18.148 7.11966 18.148H16.4514V20.7778C16.723 20.7228 17.0071 20.6929 17.2997 20.6929C17.5881 20.6929 17.8722 20.7225 18.1479 20.7778L18.1482 18.148H27.9041C28.3707 18.148 28.7524 18.5297 28.7524 18.9963V20.7778C29.024 20.7228 29.308 20.6929 29.6007 20.6929C29.8891 20.6929 30.1732 20.7225 30.4489 20.7778L30.4492 18.9963C30.4492 17.5924 29.3039 16.4511 27.904 16.4511L18.1481 16.4514V13.9062H16.4516V16.4514H7.11988C5.71595 16.4514 4.57471 17.5923 4.57471 18.9966V20.7781C4.84632 20.7231 5.13036 20.6932 5.42297 20.6932C5.71145 20.6932 5.99579 20.7228 6.27123 20.7781L6.2714 20.778Z" fill="#10A242"/>
            <path id="Vector_2" d="M19.7218 28.4082C19.0344 28.8917 18.1989 29.176 17.2997 29.176C16.396 29.176 15.5605 28.8917 14.8735 28.4082C13.3507 28.7434 12.2097 30.1006 12.2097 31.7208V33.4173C12.2097 33.8839 12.5873 34.2656 13.058 34.2656H21.5414C22.008 34.2656 22.3896 33.8839 22.3896 33.4173V31.7208C22.3896 30.1006 21.2443 28.7434 19.7217 28.4082H19.7218Z" fill="#10A242"/>
            <path id="Vector_3" d="M31.904 28.4896C31.238 28.9224 30.4492 29.1769 29.6007 29.1769C28.6633 29.1769 27.7979 28.8671 27.0937 28.3496C25.4057 28.5404 24.0867 29.9784 24.0867 31.7218V33.4183C24.0867 33.8849 24.4642 34.2666 24.9349 34.2666H33.4183C33.8849 34.2666 34.2666 33.8849 34.2666 33.4183V31.7218C34.2666 30.2119 33.2698 28.9266 31.904 28.4896V28.4896Z" fill="#10A242"/>
            <path id="Vector_4" d="M7.8453 28.4082C7.15827 28.8917 6.32246 29.176 5.42322 29.176C4.51958 29.176 3.68404 28.8917 2.99704 28.4082C1.47419 28.7434 0.333252 30.1006 0.333252 31.7208V33.4173C0.333252 33.8839 0.710794 34.2656 1.18152 34.2656H9.66491C10.1315 34.2656 10.5132 33.8839 10.5132 33.4173V31.7208C10.5132 30.1006 9.36815 28.7434 7.84522 28.4082H7.8453Z" fill="#10A242"/>
            <path id="Vector_5" d="M19.8447 24.9348C19.8447 26.3403 18.7053 27.4797 17.2996 27.4797C15.8938 27.4797 14.7544 26.3403 14.7544 24.9348C14.7544 23.5291 15.8938 22.3896 17.2996 22.3896C18.7053 22.3896 19.8447 23.5291 19.8447 24.9348Z" fill="#10A242"/>
            <path id="Vector_6" d="M13.0578 12.2102H21.5412C22.0078 12.2102 22.3895 11.8286 22.3895 11.362V9.66546C22.3895 8.0452 21.2441 6.68778 19.7215 6.35284C19.0342 6.83601 18.1987 7.12036 17.2994 7.12036C16.3958 7.12036 15.5603 6.83602 14.8733 6.35254C13.3504 6.68747 12.2095 8.04498 12.2095 9.66515V11.3617C12.2095 11.8286 12.587 12.2102 13.0577 12.2102H13.0578Z" fill="#10A242"/>
            <path id="Vector_7" d="M19.8447 2.87818C19.8447 4.28362 18.7053 5.42305 17.2996 5.42305C15.8938 5.42305 14.7544 4.28362 14.7544 2.87818C14.7544 1.47243 15.8938 0.333008 17.2996 0.333008C18.7053 0.333008 19.8447 1.47243 19.8447 2.87818Z" fill="#10A242"/>
            <path id="Vector_8" d="M32.1455 24.9348C32.1455 26.3403 31.006 27.4797 29.6003 27.4797C28.1948 27.4797 27.0554 26.3403 27.0554 24.9348C27.0554 23.5291 28.1948 22.3896 29.6003 22.3896C31.006 22.3896 32.1455 23.5291 32.1455 24.9348Z" fill="#10A242"/>
            <path id="Vector_9" d="M7.96821 24.9348C7.96821 26.3403 6.82878 27.4797 5.42304 27.4797C4.0176 27.4797 2.87817 26.3403 2.87817 24.9348C2.87817 23.5291 4.0176 22.3896 5.42304 22.3896C6.82878 22.3896 7.96821 23.5291 7.96821 24.9348Z" fill="#10A242"/>
          </g>
        </svg>

      </div>
      </div>
    </div>

  </div>
</div>