<div>

  <div class="mt-4">
    <p class="font-nunito text-xl font-extrabold text-text-black">Welcome, <%= current_user.full_name %></p>
    <p class="font-nunito text-xs font-normal  text-neutral-800 text-text-black">
      Today is  <%= Date.today.strftime("%A, %d#{Date.today.day.ordinal} %B %Y") %>
    </p>
  </div>

  <div class="flex justify-around mt-14">
    <div class="flex w-[271px] h-[150px] bg-white rounded-[20px]">
      <div class="flex flex-col justify-start items-start mt-4 ms-6">
        <p class="font-nunito text-[28px] font-extrabold text-text-black">250</p>
        <p class="font-nunito text-text-black text-base font-normal leading-normal">Total Number of Staff</p>
        <div class="mt-6 flex justify-items-center justify-center">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Small Arrow Up">
              <path id="shape" d="M12 7V17M12 7L16 11M12 7L8 11" stroke="#10A242" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
          </svg>
          <p class="font-nunito text-field-gray text-xs font-normal leading-tight mt-1">12 more than last quarter</p>
        </div>
      </div>
      <div class="mt-4 ms-6 w-[50px] h-[50px] bg-[#fff4e7] rounded-full flex justify-center items-center">
        <svg class="" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="Staff">
            <path id="Vector" d="M36.5012 27.2984V30.0984H5.00001V27.1352C4.99844 26.5094 5.27657 25.9156 5.75846 25.516C7.45824 24.1444 9.28658 22.9399 11.2176 21.9194C11.3424 22.2107 12.552 24.9915 13.3232 26.1658V26.1656C13.3339 26.1877 13.3562 26.2018 13.3808 26.2018C13.4053 26.2018 13.4277 26.1877 13.4384 26.1656C13.5951 25.6953 14.2 24.0631 15.1183 24.1752H15.1185C15.1473 24.1839 15.1781 24.1701 15.1908 24.1428C15.2035 24.1158 15.1946 24.0832 15.1696 24.0665C14.4752 23.5129 12.7151 22.0888 12.0464 21.2953V19.3785C11.7486 18.8723 11.5457 18.316 11.448 17.7368C11.2176 17.7176 10.9167 17.3975 10.5904 16.2489C10.1712 14.7705 10.5647 14.4761 10.9455 14.4792C10.7439 13.6152 10.2319 10.6136 12.4656 9.25043C12.1971 9.02364 12.0415 8.69016 12.0399 8.3386C12.0399 8.3386 14.6 8.62655 15.8192 8.37387C17.0384 8.12097 18.3792 9.08747 18.5872 10.0187C18.5872 10.0187 21.0863 10.0187 20.117 14.4828C20.5074 14.4667 20.933 14.7357 20.5009 16.2524C20.1808 17.4013 19.8609 17.7246 19.6433 17.7404V17.7402C19.546 18.3194 19.3431 18.8756 19.0448 19.3817V21.2826C18.3727 22.0762 16.616 23.5034 15.9185 24.0538C15.8935 24.0706 15.8843 24.1029 15.8973 24.1302C15.91 24.1574 15.9408 24.1712 15.9696 24.1625C16.8879 24.0505 17.4928 25.6793 17.6495 26.1529C17.6602 26.175 17.6827 26.1891 17.7071 26.1891C17.7316 26.1891 17.7542 26.175 17.7649 26.1529C18.5361 24.9786 19.7457 22.1978 19.8705 21.9065C21.17 22.5987 22.4259 23.3701 23.6303 24.217C24.0361 24.0818 24.4316 23.9184 24.8145 23.7273L24.8848 23.6858C25.0846 23.5565 25.2049 23.3349 25.2049 23.0969V21.9034C22.0464 21.9322 21.1154 20.5786 21.1154 20.5786C21.1154 20.5786 22.9203 20.5498 22.8083 15.7786C22.696 11.0074 24.8752 10.2362 25.6944 9.93859C28.0784 9.03299 29.2752 10.473 29.2752 10.473C32.04 10.2169 32.7953 13.2377 32.4752 16.6747C32.1551 20.1115 34.0241 20.649 34.0241 20.649C32.7281 21.9738 29.9922 21.8906 29.9922 21.8906V23.1227H29.9919C29.9919 23.3606 30.1122 23.5823 30.312 23.7115L30.3953 23.7627C31.3553 24.2651 33.3265 24.7868 33.3649 24.806C34.01 24.981 34.637 25.2178 35.2368 25.5131C35.94 25.8482 36.4185 26.5243 36.5009 27.2986L36.5012 27.2984Z" fill="#F29425"/>
          </g>
        </svg>
      </div>
    </div>

    <div class="flex w-[271px] h-[150px] bg-white rounded-[20px]">
      <div class="flex flex-col justify-start items-start mt-4 ms-6">
        <p class="font-nunito text-[28px] font-extrabold text-text-black">100</p>
        <p class="font-nunito text-text-black text-base font-normal leading-normal">Total Applications</p>
        <div class="mt-6 flex justify-items-center justify-center">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="Small Arrow Up">
              <path id="shape" d="M12 7V17M12 7L16 11M12 7L8 11" stroke="#10A242" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
          </svg>
          <p class="font-nunito text-field-gray text-xs font-normal leading-tight mt-1">12 more than last quarter</p>
        </div>
      </div>
      <div class="mt-4 ms-6 w-[50px] h-[50px] bg-[#e7f5ff] rounded-full flex justify-center items-center">
        <svg class="" width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g id="Applications">
            <path id="Vector" fill-rule="evenodd" clip-rule="evenodd" d="M13.2582 3.3331C12.8747 3.3331 12.5258 3.68203 12.5258 4.06544V6.6288H10.6948C10.3114 6.6288 9.96246 6.97773 9.96246 7.36114V10.2908H7.3991C7.01338 10.2873 6.67055 10.6421 6.66676 11.0232V34.8264C6.66446 35.2113 7.00956 35.5626 7.3991 35.5587H26.4417C26.8312 35.5623 27.1763 35.2113 27.174 34.8264V31.8967H29.3714C29.7609 31.9003 30.1175 31.5493 30.1152 31.1644L30.1037 28.601H32.3011C32.6845 28.601 33.0334 28.2521 33.0334 27.8687V10.6571C33.0334 10.347 32.9243 10.1457 32.7703 9.94745L27.8379 3.76777C27.7023 3.60837 27.3242 3.3353 26.808 3.33301L13.2582 3.3331ZM13.9905 4.79778H26.4414V8.45982L25.1254 6.99513C24.9652 6.80227 24.7933 6.62882 24.6104 6.62882H13.9905V4.79778ZM27.9062 6.26246L30.8359 9.9245H27.9062V6.26246ZM11.4271 8.09348H23.878V12.8542L22.047 10.6568C21.8375 10.3978 21.5757 10.2905 21.3146 10.2905H11.4271V8.09318L11.4271 8.09348ZM25.3428 9.55816L27.9062 13.2202H25.3428V9.55816ZM28.6385 11.3892H31.5682V27.1359H30.1035V13.9526C30.1035 13.5863 30.0463 13.2545 29.7372 12.8539L28.6385 11.3892ZM22.0468 12.8539L24.9765 16.8822H22.0468V12.8539ZM10.9921 13.9525L10.9923 13.9528C11.0151 13.9518 11.0381 13.9518 11.061 13.9528H15.4554C15.8598 13.9528 16.1878 14.2808 16.1878 14.6854V19.0798C16.1878 19.4841 15.8598 19.8121 15.4554 19.8121H11.061C10.6564 19.8121 10.3287 19.4841 10.3284 19.0798V14.6854C10.3269 14.3061 10.6148 13.9886 10.9923 13.9528L10.9921 13.9525ZM25.3427 14.6849H28.6384V30.4316H27.1737V17.2483C27.1737 17.0143 26.9285 16.6896 26.8074 16.516L25.3427 14.6849ZM10.9921 21.6427L10.9923 21.643C11.0151 21.642 11.0381 21.642 11.061 21.643H23.1458H23.1455C23.3407 21.6402 23.5287 21.7161 23.6676 21.8537C23.8066 21.9914 23.8848 22.1794 23.8848 22.3754C23.8848 22.5715 23.8066 22.7593 23.6676 22.897C23.5287 23.0347 23.3407 23.1105 23.1455 23.1077H11.0608H11.061C10.6585 23.1269 10.3169 22.8145 10.2978 22.4098C10.2789 22.0055 10.5897 21.6621 10.9923 21.643L10.9921 21.6427ZM10.9921 24.5724L10.9923 24.5727C11.0151 24.5717 11.0381 24.5717 11.061 24.5727H23.1458H23.1455C23.3407 24.5699 23.5287 24.6457 23.6676 24.7834C23.8066 24.9211 23.8848 25.1091 23.8848 25.305C23.8848 25.5012 23.8066 25.689 23.6676 25.8267C23.5287 25.9644 23.3407 26.0402 23.1455 26.0374H11.0608H11.061C10.6585 26.0566 10.3169 25.7439 10.2978 25.3395C10.2789 24.9352 10.5897 24.5918 10.9923 24.5727L10.9921 24.5724ZM10.9921 27.5021L10.9923 27.5024C11.0151 27.5011 11.0381 27.5011 11.061 27.5024H23.1458H23.1455C23.3407 27.4996 23.5287 27.5754 23.6676 27.7131C23.8066 27.8508 23.8848 28.0386 23.8848 28.2347C23.8848 28.4307 23.8066 28.6187 23.6676 28.7564C23.5287 28.894 23.3407 28.9699 23.1455 28.9671H11.0608H11.061C10.6585 28.986 10.3169 28.6736 10.2978 28.2692C10.2789 27.8649 10.5897 27.5213 10.9923 27.5024L10.9921 27.5021ZM10.9921 30.4318H10.9923C11.0151 30.4308 11.0381 30.4308 11.061 30.4318H23.1458H23.1455C23.3407 30.4293 23.5287 30.5051 23.6676 30.6428C23.8066 30.7805 23.8848 30.9683 23.8848 31.1644C23.8848 31.3604 23.8066 31.5484 23.6676 31.686C23.5287 31.8235 23.3407 31.8996 23.1455 31.8968H11.0608H11.061C10.6585 31.9157 10.3169 31.6033 10.2978 31.1989C10.2789 30.7943 10.5897 30.4509 10.9923 30.4319L10.9921 30.4318Z" fill="#248CD8"/>
          </g>
        </svg>
      </div>
    </div>

  </div>
</div>