<turbo-frame id="memo-list">
<div class="flex justify-center items-center h-screen w-full">
  <div class="w-[1148px] h-auto bg-white rounded-[20px]">
    <h1 class=" m-2 font-nunito text-text-black text-xl font-extrabold">Edit Memo</h1>

  <%= render "form", memo: @memo %>


</div>
</div>
</turbo-frame>